[submodule "litex"]
	path = litex
	url = https://github.com/enjoy-digital/litex.git
[submodule "usb-test-suite-testbenches"]
	path = usb-test-suite-testbenches
	url = https://github.com/antmicro/usb-test-suite-testbenches.git
[submodule "usb-test-suite-cocotb-usb"]
	path = usb-test-suite-cocotb-usb
	url = https://github.com/antmicro/usb-test-suite-cocotb-usb.git
[submodule "valentyusb"]
	path = valentyusb
	url = https://github.com/im-tomu/valentyusb.git
[submodule "usb1_device"]
	path = usb1_device
	url = https://github.com/antmicro/usb1_device.git
	branch = cocotb-usb
[submodule "foboot"]
	path = foboot
	url = https://github.com/im-tomu/foboot.git
[submodule "tinyfpga"]
	path = tinyfpga
	url = https://github.com/tinyfpga/TinyFPGA-Bootloader.git
[submodule "ice40-playground"]
	path = ice40-playground
	url = https://github.com/smunaut/ice40-playground.git
	branch = usb
[submodule "yosys"]
	path = yosys
	url = https://github.com/YosysHQ/yosys.git
